<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="/img/softproduct-underfix.jpg" alt="Software video edition" class="card-img-top">
            <div class="card-body">
                <h2>$9,99</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sunt sint vero corrupti, perferendis explicabo incidunt aut, ullam ipsum provident nihil eaque fuga. Consectetur, explicabo? Quia voluptatum labore obcaecati dignissimos!
                </p>
            </div>
            <div class="card-footer">
                <form>
                    
                </form>
                 <button class="btn btn-dark btn-block">
                     <i class="fas fa-shopping-cart"></i> Buy Now
                 </button>
            </div>
        </div>
    </div>
</div>


