<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> · underfix software Store </title>
    
    <!-- Stripe -->


    <!-- CDN Estilos Bootstrap--->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/84fe2cb440.js" crossorigin="anonymous"></script>

    <!--Custom Styles -->
    <link rel="stylesheet" href="css/main.css">

</head>
<body>

    <nav class="navbar navbar-dark bg-primary p-2">
        <div class="container">
            <a href="/" class="navbar-brand">
                underfix software Store
            </a>
        </div>

    </nav>

    <div class="container p-4">

        {{{ body }}}

    </div>




   <!--javascript-->
  


    

</body>
</html>